.newsletter {
  background: $color-primary-blog url('images/newsletter/newsletter-bg.png') center left no-repeat;
  padding: 88px 0;
  @media (max-width: 991.98px) {
    padding: 20px;
    background: $color-primary-blog;
  }
  
  form {
    @media (max-width: 991.98px) {
      width: 100%;
    }
    .form-control {
      &:hover {
        border: 0;
        outline: 0;
      }
      &:focus {
        border: 0;
        outline: 0;
      }
    }
    .btn {
      border: 1px solid $color-secondary-dark;
      &:hover {
        background-color: transparent!important;
        border: 1px solid $color-white;
      }
    }
    ::placeholder { 
      color: $color-primary-dark;
      opacity: 1;
    }
  }
  .container {
    padding-top: 0;
    padding-bottom: 0;
  }
  h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 0;
    @media (max-width: 991.98px) {
      font-size: 16px;
      line-height: 20px;
      margin-bottom: 10px;
    }
  }
  #_form_15_._inline-style input[type="text"], #_form_15_._inline-style input[type="date"] {
    font-family: "Montserrat", sans-serif !important;
  }
  #_form_15_ ._submit {
    padding: 10px 12px !important;
    font-family: "Montserrat", sans-serif !important;
  }
}