@mixin devices($breakpoint) {
  @if $breakpoint == small-screen {
    @media only screen and (max-width: 1199px) {
      @content;
    }
  }
  @if $breakpoint == tablet {
    @media only screen and (max-width: 992px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (max-width: 576px) {
      @content;
    }
  }
}

@mixin font-title-h2 {
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 4.2rem;
  @include devices(tablet) {
    font-size: 2rem;
    line-height: 2.5rem;
  }
}

@mixin masterclass-background {
  background: url("images/masterclass/textures.png"),
    linear-gradient(270deg, rgba(13, 96, 101, 1) 0%, rgba(7, 42, 44, 1) 100%);
  background:
    url("images/masterclass/textures.png"),
    -moz-linear-gradient(270deg, rgba(13, 96, 101, 1) 0%, rgba(7, 42, 44, 1) 100%);
  background:
    url("images/masterclass/textures.png"),
    -webkit-linear-gradient(270deg, rgba(13, 96, 101, 1) 0%, rgba(7, 42, 44, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d6065",endColorstr="#072a2c",GradientType=1);
  background-blend-mode: multiply;
}

@mixin masterclass-desconto-background {
  background: url("images/masterclass/textures2.jpg"),
    linear-gradient(270deg, rgba(13, 96, 101, 1) 0%, rgba(7, 42, 44, 1) 100%);
  background:
    url("images/masterclass/textures2.jpg"),
    -moz-linear-gradient(270deg, rgba(13, 96, 101, 1) 0%, rgba(7, 42, 44, 1) 100%);
  background:
    url("images/masterclass/textures2.jpg"),
    -webkit-linear-gradient(270deg, rgba(13, 96, 101, 1) 0%, rgba(7, 42, 44, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#0d6065",endColorstr="#072a2c",GradientType=1);
  background-blend-mode: darken;
  background-position: center;
  background-size: cover;
}

@mixin pos($pos, $left: null, $top: null, $right: null, $bottom: null) {
  position: $pos;
  left: $left;
  @if $top {
    top: $top;
  }
  @if $left {
    left: $left;
  }
  @if $right {
    right: $right;
  }
  @if $bottom {
    bottom: $bottom;
  }
}

@mixin size($width, $height) {
  width: $width;
  height: $height;
}

//General
body {
  counter-reset: extra-counter class-badge;
}

.page-masterclass,
.page-masterclass-desconto {
  position: relative;

  .masterclass-green {
    color: $masterclass-primary;
  }
  .highlight {
    display: inline-block;
    background-color: $masterclass-primary;
    color: $color-white;
    padding: 0.15rem;
    margin-bottom: 5px;
  }

  /*
  ** Sections
  */

  //Section Header
  .masterclass-header {
    color: $color-white;
    @include masterclass-background;
    .header-row {
      .header-image {
        height: 70vh;
        min-height: 770px;
      }
    }
    .header-content {
      margin-left: -13rem;
      .header-badge {
        margin-bottom: 1rem;
        span {
          font-size: 1.25vw;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          border: 1px solid $color-white;
          padding: 0.5rem;
        }
      }
      .header-title {
        font-size: 3.75vw;
        font-style: normal;
        font-weight: 900;
        line-height: normal;
      }
      .header-description {
        font-size: 2.375rem;
      }
    }

    .divider {
      border-top: 1px solid $color-white;
    }
    .header-extra {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 15%;
        width: 36px;
        height: 268px;
        background: $masterclass-cyan;
        opacity: 0.2;
      }
      .extra-title {
        font-size: 2.917vw;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
      }
      ul.extra-container {
        list-style-type: none;
        padding-left: 0;
        .card {
          background-color: transparent;
          border: none;
          border-radius: 0;
          flex-direction: row;
          align-items: center;
        }
        .extra-item {
          margin-bottom: 30px;
          position: relative;
          &::before {
            content: "";
            position: absolute;
            bottom: -30px;
            left: auto;
            right: auto;
            background: $color-white;
            height: 1px;
            width: 90%;
          }
          &:last-child::before {
            background: transparent;
          }
          .extra-counter {
            background: rgba(255, 255, 255, 0.1);
            padding: 1.25rem;
            min-width: 110px;
            &::before {
              counter-increment: extra-counter;
              content: counter(extra-counter, decimal-leading-zero);
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    //Media Query Header
    @include devices(tablet) {
      .header-row {
        .header-image {
          height: 40vh;
          min-height: 30vh;
        }
      }
      .header-content {
        margin-left: initial;
        margin-top: -100px;
        .header-badge > span {
          font-size: 1rem;
        }
        .header-title {
          font-size: 3rem;
        }
      }
      .header-extra {
        &::before {
          top: 16.5%;
        }
        .extra-title {
          font-size: 1.5rem;
        }
        ul.extra-container {
          .extra-item {
            &:last-child::before {
              background: $color-white;
            }
          }
        }
      }
    }
    @media screen and (max-width: 576px) {
      .header-extra {
        &::before {
          display: none;
        }
      }
      .divider {
        width: 90%;
      }
    }
  }
  .masterclass-desconto-header {
    color: $color-white;
    @include masterclass-desconto-background;
    .header-badge {
      font-size: 4rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.2;
    }
    .header-title-container {
      padding-left: 2rem;
      border-left: 1px solid $color-white;
      .header-title {
        font-size: 4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 1.2;
      }
      .header-description {
        font-size: 2.375rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.2;
      }
    }
  }
  //Section form
  .masterclass-form {
    .form-img {
      margin-top: -200px;
      width: 29vw;
    }
    .form-title {
      color: $masterclass-primary;
      @include font-title-h2;
    }
    .form-subtitle {
      color: $masterclass-primary;
      font-size: 2.5rem;
    }
    .form-description {
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.6875rem;
      letter-spacing: 0.01688rem;
    }

    .form-fields {
      .form-control {
        border-radius: 0.625rem;
        background: $masterclass-light-grey;
        &:focus {
          border: 1px solid $masterclass-primary-hover;
        }
      }
      .form-control + .form-label {
        margin-left: 0.75rem;
        &:focus + .form-label {
          margin-left: 0.75rem;
        }
      }
      .form-label::after {
        background: transparent;
      }
      .btn-masterclass {
        border-radius: 0.625rem;
        background: $masterclass-primary;
        color: $color-white;
        text-align: center;
        font-size: 1.125rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        letter-spacing: 0.0225rem;
        text-transform: uppercase;
        padding: 1.1rem;
        width: 100%;
        &:hover,
        &:active {
          background: $masterclass-primary-hover;
        }
      }
      .alert-masterclass {
        font-size: 2rem;
        @include devices(mobile) {
          font-size: 2rem;
        }
      }
    }
    @include devices(tablet) {
      .form-title,
      .form-subtitle {
        font-size: 2rem;
        line-height: 2.5rem;
      }
    }
    @include devices(mobile) {
      .form-subtitle {
        font-size: 1.5rem;
        line-height: 2.5rem;
      }
    }
  }
  //Section new
  .masterclass-new {
    .new-title {
      @include font-title-h2;
      @include devices(small-screen) {
        font-size: 2.5rem;
        line-height: 3.2rem;
      }
      @include devices(mobile) {
        font-size: 1.8rem;
        line-height: 2.3rem;
      }
    }
    .new-text {
      color: $masterclass-dark-grey;
      font-size: 1.125rem;
      font-style: normal;
      font-weight: 500;
      line-height: 1.6875rem;
      letter-spacing: 0.0225rem;
    }
  }
  //Section profs
  .masterclass-profs {
    .prof-card {
      position: relative;
      overflow: hidden;
      border: 0;
      height: 335px;
      cursor: pointer;
      @include devices(mobile) {
        height: 315px;
      }
      .prof-bg {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03) all;
        opacity: 0;
      }
      &:hover .prof-bg,
      &:active .prof-bg,
      &.active > .prof-bg {
        transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03) all;
        background: linear-gradient(
          0deg,
          rgba(17, 80, 85, 0.9) 0%,
          rgba(32, 136, 143, 0.7) 50%,
          rgba(32, 136, 143, 0.1) 100%
        );
        opacity: 1;
      }
      .prof-badge {
        opacity: 1;
        position: absolute;
        top: 0;
        right: 0;
        display: inline;
        background: rgba(100, 100, 100, 0.4);
        backdrop-filter: blur(10px);
        padding: 1rem;
        color: $color-white;
        font-size: 0.875rem;
        font-style: normal;
        font-weight: 600;
        line-height: 1.3125rem;
        letter-spacing: 0.0175rem;
        text-transform: uppercase;
        z-index: 6;
        transition: 0.4s ease-in-out all;
      }
      &:hover .prof-badge,
      &:active .prof-badge,
      &.active > .prof-badge {
        opacity: 0;
      }
      .prof-infos {
        position: absolute;
        content: "";
        bottom: 0;
        left: 0;
        color: $color-white;
        z-index: 5;
        font: {
          size: 0.75rem;
          style: normal;
          weight: 300;
        }
        line-height: 1rem;
        letter-spacing: 0.015rem;
        text-transform: uppercase;
        transform: translateY(450px);
        transition: 0.4s 0.15s cubic-bezier(0.17, 0.67, 0.5, 1.03);
        .prof-bio-text {
          padding: 0rem 1rem 1rem 1rem;
        }
      }
      &:hover .prof-infos,
      &:active .prof-infos,
      &.active > .prof-infos {
        transform: translateY(0px);
      }
    }
    .prof-btn {
      .btn-infos {
        background-color: $masterclass-primary;
        color: $color-white;
        &:hover,
        &:active {
          background-color: $masterclass-primary-hover;
        }
      }
    }
    .prof-resume {
      color: $masterclass-dark-grey;
      font-size: 1rem;
      font-style: normal;
      font-weight: 300;
      line-height: 1.5rem;
      letter-spacing: 0.02rem;
      text-transform: uppercase;
      strong {
        font-weight: 600;
      }
    }
  }

  //Section Pricing
  .masterclass-pricing {
    .pricing-title {
      @include font-title-h2;
    }
    .pricing-text {
      .text-header {
        color: $masterclass-dark-grey;
        font-size: 1.73388rem;
        font-style: normal;
        font-weight: 400;
        line-height: 2.08069rem;
      }
      .text-price {
        .currency {
          font-size: 1.285rem;
          font-style: normal;
          font-weight: 700;
          line-height: 1.542rem;
        }
        .value {
          font-size: 3.42675rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
        .digits {
          font-size: 1.42781rem;
          font-style: normal;
          font-weight: 700;
          line-height: 120%;
        }
      }
      .text-splits {
        color: $masterclass-dark-grey;
        font-size: 1.14225rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.37069rem;
      }
    }
    .pricing-footer {
      font-size: 1.875rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.25rem;
      display: inline;
      @include devices(small-screen) {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      @include devices(mobile) {
        font-size: 1.1rem;
        line-height: 2rem;
      }
    }
  }

  //Section Classes
  .masterclass-classes {
    position: relative;
    @include masterclass-background;
    .class-bg-cyan {
      background-color: $masterclass-bg-cyan;
      .class-badge {
        color: $masterclass-black;
        font: {
          size: 1.04344rem;
          style: normal;
          weight: 400;
        }
        line-height: normal;
        margin: {
          top: 1rem;
          bottom: 1.5rem;
        }
        border: 1px solid $masterclass-black;
        padding: 0.5rem;
        display: inline-block;
        &::before {
          counter-increment: class-badge;
          content: "Módulo " counter(class-badge);
        }
      }
      .class-title {
        color: $masterclass-black;
        font-size: 2.5rem;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        margin-bottom: 1.75rem;
        @include devices(tablet) {
          font-size: 1.75rem;
        }
      }
      .class-description {
        color: $masterclass-black;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        line-height: 1.88125rem;
        @include devices(tablet) {
          font-size: 1.1rem;
        }
        .list-class > li {
          list-style-type: none;
          &::before {
            content: "·";
            font-size: 35px;
            vertical-align: sub;
            margin-right: 5px;
          }
        }
      }
    }
    .class-img {
      height: auto;
      min-height: 200px;
      @include devices(mobile) {
        height: 200px;
      }
    }
    .masterclass-cta {
      padding-bottom: 7rem;
      .cta-title {
        color: $color-white;
        text-align: center;
        font-size: 3.5rem;
        font-style: normal;
        font-weight: 700;
        line-height: 4.1875rem;
        @include devices(tablet) {
          font-size: 3rem;
          line-height: 3.5rem;
        }
      }
      .cta-subtitle {
        color: $color-white;
        text-align: center;
        font-size: 3rem;
        font-style: normal;
        font-weight: 300;
        line-height: 3.975rem;
        @include devices(tablet) {
          font-size: 1.8rem;
          line-height: 2.5rem;
        }
      }
      .cta-btn {
        margin: {
          left: auto;
          right: auto;
        }
        .masterclass-btn {
          padding: 1rem;
          border-radius: 0.625rem;
          border: 0.5px solid $color-white;
          background: $masterclass-primary;
          color: $color-white;
          text-align: center;
          font-size: 1.75rem;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
          letter-spacing: 0.035rem;
          text-transform: uppercase;
          min-width: 300px;
          width: 30vw;
          &:hover,
          &:active {
            background: $masterclass-primary-hover;
          }
        }
      }
    }
  }
}
